<%  const nombre = 'Leslie'; // codigo JS todo lo que esta escrito entre  %>
<%= nombre // visualizar la variable en pantalla %>
<% const arreglo = [1,2,3,4,5]; %>
<%=arreglo%>
<% const objeto = { nombre: 'Leslie'}; %>
<%=objeto.nombre%>
<% arreglo.forEach( (valorActual)=> {%>
<p>Numero: <%=valorActual%></p>
<%})%>
<ol>
    <% arreglo.forEach( (valorActual)=> {%>
    <li><p>Numero: <%=valorActual%></p></li>
    <%})%>
</ol>
<% if (estaVivo) { %>
    <h1> Esta Vivo !!</h1>
<%} else { %>
<h1>Por el bien del universo, estas muerto ... </h1>
<% } %>