<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        table,tr,td{
            border: black 1px solid;
        }
    </style>
</head>
<body>
<p><%=username1%></p>
<a href="/../api/salir/<%=userid%>"><button>Salir</button></a>
<a href="/../api/nuevoActor/<%=userid%>"><button>Nuevo Registro</button></a>
<a href="/../api/index/<%=userid%>"><button>Volver</button></a>
<form action="/../api/buscarActor" method="post">
    <label for="userid"></label>
    <input type="number" id="userid" name="userid" value="<%=userid%>" hidden>
    <label for="nombreActor">Buscar: </label>
    <input type="text" id="nombreActor" name="nombreActor" placeholder="Escriba el nombre del actor">
    <button><i class="fa fa-search"></i></button>
</form>
<% if (arregloActores1.length===0) { %>
    <h3>No existen actores para mostrar</h3>
<% } else { %>

<table>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Fecha de Nacimiento</th>
        <th>Numero de Peliculas</th>
        <th>Retirado</th>
        <th>Acciones</th>
    </tr>
    <% arregloActores1.forEach((actor)=> { %>
    <tr>
        <td><%=actor.nombres%></td>
        <td><%=actor.apellidos%></td>
        <td><%=actor.fechaNacimiento%></td>
        <td><%=actor.numeroPeliculas%></td>
        <% if (actor.retirado) {%>
        <td>Si</td>
        <%} else {%>
        <td>No</td>
        <% } %>
        <td>
            <form action="/../api/eliminarActor" method="POST">
                <label for="idActor"></label>
                <input type="number" id="idActor" name="idActor" hidden value="<%=actor.idActor%>">
                <label for="userid"></label>
                <input type="number" id="userid" name="userid" hidden value="<%=userid%>">
                <button>Eliminar</button>
            </form>
            <a href="/../api/gestionPeliculas/<%=userid%>/<%=actor.idActor%>"><button type="button">Gestionar Peliculas</button></a>
        </td>
        <%})%>
    </tr>
</table>
<%}%>
</body>
</html>